@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

h1,h2,h3,h4 {
  font-family: 'Oswald', sans-serif;
}

.login {
  margin-top: 100px;
}

@media only screen and (min-width : 768px) {

  .login {
    margin-top: 150px;
  }

}

.panel-aptifooty {
  background-color: rgba(255, 255, 255, 0.5);
}

.panel-aptifooty .panel-title {
  font-size: 25px;
}

@media only screen and (min-width : 768px) {

  .panel-aptifooty .panel-title {
    font-size: 50px;
  }

}
