body {
    background-image:url('/app/img/football_pitch_by_haqn.png');
    background-repeat:no-repeat;
    background-size:cover;
}

.login {
    margin-top: 25px;
}


.left {
    clear:left;
}

.spaceDown {
    padding-bottom: 15px;
}
.spaceRight {
    margin-right: 50px;
}
.width20em {
    width:20em;
}