<div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="panel panel-aptifooty">
            <div class="panel-heading">
                <h1 class="panel-title">{{vm.league.name}}</h1>
            </div>

        </div>

        <!--<div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-show="vm.leagues.length">-->
            <!--<div class="panel panel-aptifooty">-->
                <!--<div class="panel-heading">-->
                    <!--<center><h1 class="panel-title">Your leagues</h1></center>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div ng-repeat="league in vm.leagues">-->
                        <!--<a href="#" ng-click="vm.getLeague(league.id)"><strong>{{league.name}}</strong></a>-->
                    <!--</div>-->
                <!--</div>-->

    </div>
</div>
